@font-face {
  font-family: "Signika";
  src: url(./../assets/fonts/Signika.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./../assets/fonts/Poppins-Regular.ttf);
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #ffffff;
  font-family: "Signika";
  height: 100vh;
  width: 100vw;
}
